* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    position: relative;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.nav-wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box {
    height: 68%;
    margin-top: 5px;
}

.logo-box img {
    height: 30px;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 36px;
    background: rgb(245, 245, 245);
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-align: center;
}

.nav-item {
    position: relative;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.nav-item .item {
    font-size: 22px;
    padding: 10px 16px;
    margin: 0 10px 0 10px;
}

.nav-item .item a {
    color: rgb(51, 51, 51);
}

.nav-item .item .drop-field {
    position: absolute;
    display: none;
    width: 120px;
    font-size: 16px;
    background-color: #ededed;
    margin-top: 13px;
    box-shadow: 0px 8px 16px 0px rgba(136, 136, 136, 0.2);
    text-align: center;
    border-radius: 10px;
    border: 1px solid #e4e4e4;

}

/* .nav-item .item:hover .drop-field {
    display: block;
  } */

.item .drop-field a {
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;

}

.item .drop-field a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}



.nav-item .item:hover {
    background-color: #dfdfdf;
    border-radius: 16%;
}












/* popup (modal) */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.819);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #ffff;
    width: 50%;
    min-height: 70%;
    position: relative;
    animation: modalFadeIn ease 0.5s;
    border-radius: 15px;
}

.modal .modal-header {
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.modal-close {
    color: rgb(245, 245, 245);
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 46px;
}




@keyframes modalFadeIn {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0);
    }
}

.left-modal {
    display: inline-block;
    display: flex;
    width: 54%;

}

.right-modal {
    padding: 10px;
    width: 46%;
    border-left: 1px solid rgb(155, 155, 155);
    float: right;
}


.media-modal {
    display: flex;
}

.media-modal-left {
    margin: 0 10px;
}

.media-modal-left img {
    height: 100%;
    width: 56px;
    border-radius: 56px;
}

.media-modal-body p {
    margin: 6px 0;

}